<div id="cont-holder">
	<div class="info-holder">
		<div> <img src="/static/img/icons/mobile.png" align="left"> <p>0888 476 358</p></div>
		<div> <img src="/static/img/icons/mobile.png" align="left"> <p>096/313 581</p></div>
	</div>
	<div class="info-holder">
		<div> <img src="/static/img/icons/mobile.png" align="left"> <p>096/300 314</p></div>
		<div> <img src="/static/img/icons/mobile.png" align="left"> <p>fobosr@gmail.com</p></div>
	</div>
	<div id="location">
		<p>Офисът ни можете да намерите на адрес: България, гр. Монтана, 3400, ул. Индустриална №12</p>
		<img src="/static/img/map.png">
	</div>
</div>