<div class="dark-holder-small" id="contacts-holder">
	<div id="info">
		<div id="left-part" class="part">
			<div> <img src="/static/img/icons/phone.png" align="left"> <p>096/300 314</p></div>
			<div> <img src="/static/img/icons/phone.png" align="left"> <p>096/313 581</p></div>
		</div>
		<div id="right-part" class="part">
			<div> <img src="/static/img/icons/mobile.png" align="left"> <p>0888 476 358</p></div>
			<div> <img src="/static/img/icons/mail2.png" align="left"> <p>fobosr@gmail.com</p></div>
		</div>
	</div>
	<div id="location">
		<div id="adress">Офиса ни може да намерите на: ул. Индустриална №12, гр. Монтана</div>
		<div> <img src="/static/img/map.png"> </div>
	</div>
</div>
