<div id="box-holder">

	<div id="box-left" class="box hide-for-small">
		<div class="example">
			<img class="image" ng-src="../static/img/products/n1.png">
			<div class="text-holder">
				textetetextasds
			</div>
			<div class="bottom"></div>
		</div>
	</div>
	
	<div class="box">
		<div class="example">
			<div class="title hide-for-small ">Name</div>
			<div class="triangle hide-for-small"></div>
			<img class="image" ng-src="../static/img/products/n1.png">
			<div class="text-holder">
				textetetextasds
			</div>
			<div class="bottom"></div>
		</div>
	</div>
	
	<div id="box-right" class="box hide-for-small">
		<div class="example">
			<img class="image" ng-src="../static/img/products/n1.png">
			<div class="text-holder">
				textetetextasds
			</div>
			<div class="bottom"></div>
		</div>
	</div>
	
</div>

