<div class="dark-holder">
	<div id="tag"> <p>Какво предлагаме?</p> </div>
	<div id="menu">
		<div><a>Кухненски рула</a></div>
		<div><a>Тоалетна хартия</a></div>
		<div><a>Носни кърпички</a></div>
		<div><a>Салфетки</a></div>
	</div>
	<div id="products-holder">
		<div class="item">
			<div class="name">Име</div>
			<img src="/static/img/item.png">
		</div>
		
		<div class="item">
			<div class="name">Име</div>
			<img src="/static/img/item.png">
		</div>
		
		<div class="item">
			<div class="name">Име</div>
			<img src="/static/img/item.png">
		</div>
		
		<div class="item">
			<div class="name">Име</div>
			<img src="/static/img/item.png">
		</div>
		
		<div class="item">
			<div class="name">Име</div>
			<img src="/static/img/item.png">
		</div>
		
	</div>
</div>