.current-article {
	width: 58%;
	height: auto;
	float: left;
	background-color: rgba(0, 0, 0, 0.2);
	color: #ffffff;
	font-family: "Century Gothic", Arial;
	margin-bottom: 20px;
}

.showed {
	display: block !important;
}

.articles-holder {
	width: 39%;
	height: auto;
	float: right;
	background-color: rgba(0, 0, 0, 0.2);
	font-family: "Century Gothic", Arial;
	margin-bottom: 20px;
}

@media all and (max-width: 750px) {
  	.current-article {
  		width: 100%;
  		float: left;
  	}

  	.articles-holder {
  		width: 100%;
  		float: left;
  	}
}

.current-article-img {
	width: 100%;
	height: auto;
}

.current-article-heading {
	font-size: 34px;
}

.current-article-text {
	font-size: 16px;
	margin-top: 15px;
	line-height: 1.6;
	letter-spacing: 1px;
}

.text-wrapper {
	padding: 30px;
}

.articles-holder .head {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 29px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Century Gothic", Arial;
	text-align: center;
	color: #e7ebec;
}

.articles-holder .articles {
	padding-top: 0px;
	padding-right: 0px;
	color: #ffffff;
	cursor: pointer;
}

.articles-holder .articles img {
	box-shadow: 0px 0px 10px -1px #000;
	width: 100%;
}

.articles-holder .articles .article {
	overflow: hidden;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	border-bottom: solid 1px rgba(0, 0, 0, .20);
}


.articles-holder .articles .article:hover {
	background-color: rgba(255, 255, 255, 0.1);
}


.articles-holder .articles .article:last-child {
	border-bottom: 0px;
}

.articles-holder .articles .article-content {
	float: left;
	width: 55%;
	padding-left: 10px;
	font-size: 14px;
}

.article-content .heading {
	font-size: 20px;
	margin-bottom: 10px;
}

/* HOME PAGE */


#box-holder{
	width: 900px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;  
	margin-top: 150px;
	position: relative;
}

.box{
	height: 350px;
	width: 350px;
	border: solid blue;
	float: left;

	position: absolute;
}

.right-box {
	transform: perspective( 600px ) rotateY( 45deg );
	-webkit-transform: perspective( 600px ) rotateY( 45deg );
	-moz-transform: perspective( 600px ) rotateY( 45deg );
	-o-transform: perspective( 600px ) rotateY( 45deg );
	margin-top: 45px;
	height: 260px;
	margin-right: -100px;
	position: absolute;
	right: 15px;
}

.left-box {
	transform: perspective( 600px ) rotateY( -45deg );
	-webkit-transform: perspective( 600px ) rotateY( -45deg );
	-moz-transform: perspective( 600px ) rotateY( -45deg );
	-o-transform: perspective( 600px ) rotateY( -45deg );
	margin-top: 45px;
	height: 260px;
	margin-left: -80px;
	position: absolute;
	left: 0px;
}

.current-box {
	position: absolute;
	left: 50%;
	margin-left: -175px;
}

.bringtofront {
	z-index: 9;
}

.fadeOut {
	-webkit-animation: fadeOut 1s; 
}

@-webkit-keyframes fadeOut
{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.toright
{
	-webkit-animation: mysecond 2s; 
	animation: mysecond 2s;
	z-index: 10;
}

@-webkit-keyframes mysecond
{
	from {
		transform: perspective( 600px ) rotateY( 0deg );
		-webkit-transform: perspective( 600px ) rotateY( 0deg );
		-moz-transform: perspective( 600px ) rotateY( 0deg );
		-o-transform: perspective( 600px ) rotateY( 0deg );
		right: 30%;
		height: 350px;
		margin-left: 175px;
		margin-top: 0px;
		margin-right: 0px;
	}
	to {
		transform: perspective( 600px ) rotateY( 45deg );
		-webkit-transform: perspective( 600px ) rotateY( 45deg );
		-moz-transform: perspective( 600px ) rotateY( 45deg );
		-o-transform: perspective( 600px ) rotateY( 45deg );
		margin-top: 45px;
		height: 260px;
		margin-right: -100px;
		margin-left: 0px;
		position: absolute;
		right: 15px;
	}
}

@keyframes mysecond
{
	from {
		transform: perspective( 600px ) rotateY( 0deg );
		-webkit-transform: perspective( 600px ) rotateY( 0deg );
		-moz-transform: perspective( 600px ) rotateY( 0deg );
		-o-transform: perspective( 600px ) rotateY( 0deg );
		right: 50%;
		height: 350px;
		margin-left: -175px;
		margin-top: 0px;
	}
	to {
		transform: perspective( 600px ) rotateY( 45deg );
		-webkit-transform: perspective( 600px ) rotateY( 45deg );
		-moz-transform: perspective( 600px ) rotateY( 45deg );
		-o-transform: perspective( 600px ) rotateY( 45deg );
		margin-top: 45px;
		height: 260px;
		margin-right: -100px;
		position: absolute;
		right: 15px;
	}
}

.toleft
{
	-webkit-animation: myfirst 2s; 
	animation: myfirst 2s;
	z-index: 15;
}

@-webkit-keyframes myfirst
{
	from {
		transform: perspective( 600px ) rotateY( -45deg );
		-webkit-transform: perspective( 600px ) rotateY( -45deg );
		-moz-transform: perspective( 600px ) rotateY( -45deg );
		-o-transform: perspective( 600px ) rotateY( -45deg );
		margin-top: 45px;
		height: 260px;
		margin-left: -80px;
		left: 0px;
	}
	to {
		transform: perspective( 600px ) rotateY( 0deg );
		-webkit-transform: perspective( 600px ) rotateY( 0deg );
		-moz-transform: perspective( 600px ) rotateY( 0deg );
		-o-transform: perspective( 600px ) rotateY( 0deg );
		left: 50%;
		height: 350px;
		margin-left: -175px;
		margin-top: 0px;
	}
}

@keyframes myfirst
{
	from {
		transform: perspective( 600px ) rotateY( -45deg );
		-webkit-transform: perspective( 600px ) rotateY( -45deg );
		-moz-transform: perspective( 600px ) rotateY( -45deg );
		-o-transform: perspective( 600px ) rotateY( -45deg );
		margin-top: 45px;
		height: 260px;
		margin-left: -80px;
		left: 0px;
	}
	to {
		transform: perspective( 600px ) rotateY( 0deg );
		-webkit-transform: perspective( 600px ) rotateY( 0deg );
		-moz-transform: perspective( 600px ) rotateY( 0deg );
		-o-transform: perspective( 600px ) rotateY( 0deg );
		left: 50%;
		height: 350px;
		margin-left: -175px;
		margin-top: 0px;
	}
}


.single-product {
	width: 100%;

}

.single-product .wrapper {
	/* margin: 35px; */
	margin-left: 75px;
	margin-top: -10px;
	margin-bottom: 30px;
	width: 100%;
	max-width: 400px;
}

.single-product .image {
	width: 400;
	height: 240px;
}

.single-product .text-holder {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 20px;
	padding-top: 20px;
	margin: 0px;
	font-size: 21px;
	line-height:160%;
}

.single-product .back-btn {
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	height: 50px;
	font-size: 28px;
	display: block;
	background-image: url('/static/img/back_arrow.png');
	background-size: 40px 40px;
	background-position: 20px 10px;
	background-repeat: no-repeat;
	padding-left: 70px;
	padding-top: 10px;
	color: #D6C3CC;
	text-decoration: none;
}

.single-product .title {
	position: absolute;
	top: 10px;
	left: 50px;
	background-color: rgba(0, 0, 0, 0.45);
	height: 45px;
	font-size: 28px;
	padding-top: 5px;
	padding-left: 30px;
	padding-right: 20px;
}

.single-product .triangle {
	position: absolute;
	top: 60px;
	left: 50px;
	background-image: url('/static/img/triangle.png');
	background-size: 100% 100%;
	width: 25px;
	height: 13px;
}

.toggle-icon {
	position: absolute;
	right: 20px;
	width: 25px;
	cursor: pointer;
}



/* Transition animation */

.well {
	position:absolute;
  	top: 0px;
  	left: 15px;
  	right: 15px;
  	bottom: 0px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;

}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}