html, body {
  padding: 0px;
  margin: 0px;
  height:100%;
 }

body {
  background-image: url("../img/bg.png");
  background-attachment:fixed;
  background-size: 100% 100%;
  overflow-y: scroll;
 }
 
header, .header{
	min-height:85px;
	background-color: rgba(0,0,0,0.2);
	margin-top: 20px;
	overflow: hidden;
}

а, p{
	font-family: "Century Gothic", Arial !important;
	color: #fff;
}

.ie-hacks .bg-hack {
	background-image: url("../img/transparent-bg.png") !important;
	background-repeat: repeat !important;
}

.ie-hacks .bg-hack-4 {
	background-image: url("../img/transparent-bg-4.png") !important;
	background-repeat: repeat !important;
}

.show-for-small {
	display: none;
}

@media all and (max-width: 750px) {
  	.hide-for-small {
  		display: none !important;
  	}

  	.show-for-small {
  		display: block !important;
  	}
}

#holder{
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#holder a {
	margin-right: 10px;
	font-size: 11pt;
	text-decoration: none;
	color: #ffffff;
	font-family: "Century Gothic";
}

#holder a:hover {
	color: #56e8cd;
}

#logo {
	position:relative;
	top:10px;
	border: 0px;
}

img {
	border: 0px;
}

#mainmenu {
	position: absolute;
	top: 33px;
	right: 0px;
}

@media all and (min-width: 751px) {
	#mainmenu {
		position: absolute;
		top: 33px;
		right: 0px;
	}
}

@media all and (max-width: 750px) {
	#logo {
		text-align: center;
		margin: 0px;
	}

	#mainmenu {
		margin-top: 40px;
		display: none;
		width: 100%;
		top: 0px;
	}

	#mainmenu a{
		text-align: center;
		margin: 0px;
		display: block;
		padding: 10px;
		background-color:  rgba(0, 0, 30, 0.1);
	}
	
	#lines{
		position: absolute;
		top: 30px;
	} 
}

.picture-holder{
	height: 200px;
	background-color: blue;
}

.description{
	height: 105px;
	background-color: rgba(0,0,0,0.2);
}

.bottom-line{
	height: 45px;
	background-color: rgba(0,0,0,0.3);
}

#content-wrapper {
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	position: relative;
	bottom: 0px;
	min-height: 100%;
}

.dark-holder {
	max-width:880px;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.2);
	font-family: "Century Gothic";
	color: #fff;
}

/* Products */

#tag{
	height: 47px;
	width: 235px;
	background-color: rgba(0,0,0,0.2);
	position:relative;
	top: 5px;
	margin-left: -24px;
}

#tag p{
	margin-left:30px;
	font-size: 14pt;
	position: relative;
	top:10px;
}

#tag-triangle{
	position: absolute;
	top: 46px;
	background-image: url('/static/img/triangle.png');
	background-size: 100% 100%;
	width: 25px;
	height: 13px;
	margin: 0px;
}

#tag:hover{
	cursor: default;
	-webkit-animation: wobble-vertical 1s;
}

@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ----- */

#menu{
	margin-top: -10px;
	height: auto;
	width: 30%;
	min-width: 200px;
	float:left;
	position:relative;
}

#menu, #products-holder{
	top: 40px;
}

#menu a {
	font-family: "Century Gothic", Arial;
	font-size: 17px;
	color: #ffffff;
	position: relative;
	top: 20px;
	text-decoration: none;
	overflow: hidden;
}

#menu a:hover{
	color: #56e8cd;
}

#menu div{
	margin-left: 20px;
	height: 60px;
	width: 150px;
	border-bottom: solid rgba(0,0,0, .1) 1px;
}

.picture-menu {
	border-top: solid 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin-bottom: 20px;
}

.picture-menu a {
	width: 25%;
	float: left;
	border: 0px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
}

.picture-menu a.active {
	background-color: transparent;
}

.picture-menu img {
	width: 75%;
	border: 0px;
}

#products-holder{
	height: auto;
	position:relative;
	padding-left: 15px;
	overflow: hidden;
}

.item{
	width: 29%;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	display: block;
	border: 0px;
	text-decoration: none;
	color: #ffffff;
}	

.item:hover{
	-webkit-animation: zoom 1s;
}

@-webkit-keyframes zoom {
	0% { -webkit-transform: scale(1);  }
	50% { -webkit-transform: scale(1.02); background-color: rgba(0,0,0, 0.2); }
	100% { -webkit-transform: scale(1); }
}

.name{
	height:35px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	padding-top: 15px;
}

@media all and (max-width: 750px) {
	#menu, #products-holder{
		top: 0px;
	}

	#products-holder {
		width: auto;
		margin: 0;
	}

	.item { 
		width: 44.5%;
	}
}

@media all and (max-width: 440px) {
	.item {
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}
}


/* About */

.dark-holder-small{
	height: auto;
	max-width: 600px;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
	font-family: "Century Gothic";
	color: #fff;
}

#text-holder{
	padding: 20px;
}

#text-holder p:first-child{
	font-size: 20pt;
	margin: 0px;
}

/* Contacts */

#contacts-holder{
	background:none !important;
}

.part{
	width: 49.5%;
	float: left;
}

.part a{
	height: 60px; 
	width: 100%; 
	margin-top: 5px;
	background-color: rgba(0,0,0,0.3);
	float: left;
	display: block;
	text-decoration: none;
}

.part a:hover {
	background: url("../img/transparent-bg-4.png") !important;
	background-repeat: repeat !important;
	
}

#right-part {
	float: right;
}

@media all and (max-width: 750px) {
  	.part {
  		width: 100%;
  		float: left !important;
  	}
}

.part p{
	position: relative;
	top: -7px;
	font-size: 17pt;
}

.ie-hacks .part p {

}

.part img{
	position: relative;
	top: 7px;
	margin-left: 10px;
	margin-right: 20px;

}

#location{
	margin-top: 10px;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.2);
	padding-bottom: 20px;
	clear: both;
}

#adress{
	padding:15px;
	background-color: rgba(0,0,0,0.2);
}

/* INTERESTING */


.current-article {
	width: 58%;
	height: auto;
	float: left;
	background-color: rgba(0, 0, 0, 0.2);
	color: #ffffff;
	font-family: "Century Gothic", Arial;
	margin-bottom: 20px;
}

.showed {
	display: block !important;
	position: relative !important;
}

.articles-holder {
	width: 39%;
	height: auto;
	float: right;
	background-color: rgba(0, 0, 0, 0.2);
	font-family: "Century Gothic", Arial;
	margin-bottom: 20px;
}

@media all and (max-width: 750px) {
  	.current-article {
  		width: 100%;
  		float: left;
  	}

  	.articles-holder {
  		width: 100%;
  		float: left;
  	}
}

.current-article-img {
	width: 100%;
	height: auto;
}

.current-article-heading {
	font-size: 34px;
}

.current-article-text {
	font-size: 16px;
	margin-top: 15px;
	line-height: 1.6;
	letter-spacing: 1px;
}

.text-wrapper {
	padding: 30px;
}

.articles-holder .head {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 29px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Century Gothic", Arial;
	text-align: center;
	color: #e7ebec;
}

.articles-holder .articles {
	padding-top: 0px;
	padding-right: 0px;
	color: #ffffff;
	cursor: pointer;
}

.articles-holder .articles img {
	box-shadow: 0px 0px 10px -1px #000;
	width: 100%;
}

.articles-holder .articles .article {
	overflow: hidden;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	border-bottom: solid 1px rgba(0, 0, 0, .20);
	display: block;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.articles-holder .articles .fake-border {
	width: 100%;
	height: 1px;
}

.articles-holder .articles .article:hover {
	background: url("../img/white-shadow.png");
	background: rgba(255, 255, 255, 0.1);
}


.articles-holder .articles .article:last-child {
	border-bottom: 0px;
}

.articles-holder .articles .article-content {
	float: left;
	width: 55%;
	padding-left: 10px;
	font-size: 14px;
}

.article-content .heading {
	font-size: 20px;
	margin-bottom: 10px;
}

/* HOME PAGE */


#box-holder{
	width: 100%; 
	max-width: 900px; 
	height: 350px;
    top: 50%;
    margin-top: -260px;
	position: absolute;
	left: 50%;
	margin-left: -430px;
}

.box{
	max-height: 270px;
	max-width: 270px;
	height: 100% ;
	width: 100%;
	margin-right:30px;
	float: left;
	display: block;
	text-decoration: none;
	/* border: solid blue; */
}

#box-left, #box-right {
	opacity: 0.5;
	
}

/**/

.example {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 270px;
	color: #fff;
	font-family: "Century Gothic", Arial;
	box-shadow: 0px 0px 10px -1px rgba(0,0,0, 0.2);
}

.example .image {
	width: 100%;

	
}

.example .text-holder {
	height: 65px;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 20px;
	padding-top: 5px;
	margin: 0px;
	font-size: 18px;
	line-height:160%;
	margin-top: 0px;
}
.example .bottom {
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	height: 37px;
	font-size: 28px;
	display: block;
}

.example .title {
	position: absolute;
	top: 10px;
	left: 285px;
	background-color: rgba(0, 0, 0, 0.45);
	height: 33px;
	font-size: 22px;
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 10px;
}

.example .triangle {
	position: absolute;
	top: 48px;
	left: 285px;
	background-image: url('/static/img/mini-triangle.png');
	background-size: 100% 100%;
	width: 15px;
	height: 13px;
}

/**/

/*Single product*/

.single-product {
	position: relative;
	float: left;
}

.single-product .wrapper {
	margin-left: 75px;
	margin-top: -10px;
	margin-bottom: 30px;
	max-width: 400px;
}

.single-product .image {
	width: 100%;
}

.single-product .text-holder {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 20px;
	padding-top: 20px;
	margin: 0px;
	font-size: 21px;
	line-height:160%;
}

.single-product .back-btn {
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	height: 50px;
	font-size: 28px;
	display: block;
	background-image: url('');
	background-size: 40px 40px;
	background-position: 20px 10px;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 10px;
	color: #ffffff;
	color: rgba(255,255,255, 0.2);
	text-decoration: none;
}

.single-product .title {
	position: absolute;
	top: 10px;
	left: 50px;
	background-color: rgba(0, 0, 0, 0.45);
	height: 45px;
	font-size: 28px;
	padding-top: 5px;
	padding-left: 30px;
	padding-right: 20px;
}

@media all and (max-width: 750px) { 
	.single-product .title {
		position: relative;
		top: 0px;
		left: 0px;
		margin-top: 15px;
	}

	.single-product .wrapper {
		margin-left: 0px;
		margin-right: 15px;
	}

	.single-product {
		float: none;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}

.single-product .triangle {
	position: absolute;
	top: 60px;
	left: 50px;
	background-image: url('/static/img/triangle.png');
	background-size: 100% 100%;
	width: 25px;
	height: 13px;
}

.toggle-icon {
	position: absolute;
	right: 20px;
	width: 25px;
	cursor: pointer;
}


/* Transition animation */

.well {
	position:absolute;
  	top: 0px;
  	left: 15px;
  	right: 15px;
  	bottom: 0px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;

}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}
