html, body {
  padding: 0px;
  margin: 0px;
 }

body {
  background-image: url("../img/bg.png");
  background-attachment:fixed;
  background-size: 100% 100%;
  overflow-y: scroll;
 }
 
header{
	height:85px;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	margin-top: 20px;
}

а, p{
	font-family: "Century Gothic", Arial !important;
	color: #fff;
}

#holder{
	max-width: 800px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#holder a {
	margin-right: 10px;
	font-size: 11pt;
	text-decoration: none;
	color: #ffffff;
	font-family: "Century Gothic";
}

#holder a:hover {
	color: #56e8cd;
}

#logo{
	color: #56e8cd !important;
	font-size: 25px !important; 
	position:relative;
	top:25px;
}

.right{
	float:right;
	position:relative;
	top: 30px;
}


.picture-holder{
	height: 200px;
	background-color: blue;
}

.description{
	height: 105px;
	background-color: rgba(0,0,0,0.2);
}

.bottom-line{
	height: 45px;
	background-color: rgba(0,0,0,0.3);
}

#content-wrapper {
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.dark-holder {
	max-width:900px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.2);
	font-family: "Century Gothic";
	color: #fff;
}

[ui-view] {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

/* Products */

#tag{
	height: 45px;
	width: 230px;
	background-color: rgba(0,0,0,0.2);
	position:relative;
	top: 20px;
	
	margin-left: -20px;
}

#tag p{
	margin-left:30px;
	font-size: 14pt;
	position: relative;
	top:8px;
}

#menu{
	height: auto;
	width: 30%;
	float:left;
	position:relative;
}

#menu, #products-holder{
	top: 40px;
}

#menu a {
	font-family: "Century Gothic", Arial;
	font-size: 16px;
	color: #ffffff;
	position: relative;
	top: 20px;
	text-decoration: none;
}

#menu div{
	margin-left: 20px;
	height: 60px;
	width: 150px;
	border-bottom: solid rgba(0,0,0, .1) 1px;
}

#products-holder{
	height: auto;
	width: 70%;
	position:relative;
	float:left;
}

.item{
	height: 180px;
	width: 180px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	display: block;
	border: 0px;
	text-decoration: none;
	color: #ffffff;
}	

.name{
	height:35px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	padding-top: 15px;
}

/* About */

.dark-holder-small{
	height: auto;
	max-width: 630px;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
	font-family: "Century Gothic";
	color: #fff;
}

#text-holder{
	padding: 20px;
}

#text-holder p:first-child{
	font-size: 20pt;
	margin: 0px;
}

/* Contacts */

#contacts-holder{
	background:none !important;
}

.part{
	width: 49.5%;
	float: left;
}

.part a{
	height: 60px; 
	width: 100%; 
	margin-top: 5px;
	background-color: rgba(0,0,0,0.3);
	float: left;
	display: block;
	text-decoration: none;
}

.part a:hover {
	background-color: rgba(0,0,0,0.4);
}

#right-part {
	float: right;
}

@media all and (max-width: 750px) {
  	.part {
  		width: 100%;
  		float: left !important;
  	}
}

.part p{
	position: relative;
	top: -7px;
	font-size: 17pt;
}

.part img{
	position: relative;
	top: 7px;
	margin-left: 10px;
	margin-right: 20px;

}

#location{
	margin-top: 15px;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.2);
	padding-bottom: 20px;
	clear: both;
}

#adress{
	padding:15px;
	background-color: rgba(0,0,0,0.2);
}


