<div flexmenu id="box-parent" style="width: 100%; height: 360px; overflow: hidden;">
	<div id="box-holder">
		<a ng-repeat="now in current track by $index" class="box" ng-href="/new/products/{{now.url}}" ng-class="{'box-opacity': $index != 1}">
			<div class="example">
				<div ng-if="$index == 1" class="title hide-for-small ">{{now.title}}</div>
				<div ng-if="$index == 1" class="triangle hide-for-small"></div>
				<img class="image" ng-src="{{now.thumb}}">
				<div class="text-holder">
					{{now.fulltext | dots: 55}}
				</div>
				<div class="bottom"></div>
			</div>
		</a>
	</div>
</div>